################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/firstNETApp/.vs/firstNETApp
/firstNETApp/firstNETApp/obj
/firstNETApp
